// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------



/**
 * Change how the box model is handled on the root element.
 */
html {
  box-sizing: border-box;
}

/**
 * 1. Provide a default background color for the body element.
 * 2. Use flexbox to set up a ‘sticky footer’.
 *    See https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */
body {
  background-color: $white; // 1

  display: flex; // 2
  min-height: 100vh; // 2
  flex-direction: column; // 2
}

/**
 * 1. Make sure the main content of the site will always expand if needed,
 *    to create a ‘sticky footer’ situation (see `body` selector above).
 */
.site-content {
  flex: 1; // 1
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing.
 * Since `*` has a specificity of 0, it doesn’t override the `html`
 * value making all elements inherit from the rule just above.
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links.
 */
a {
  color: $brand-color;
  text-decoration: underline;

  @include on-event {
    color: $secondary-brand-color;
  }
}
