// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------



/**
 * Change how the box model is handled on the root element.
 */
html {
  box-sizing: border-box;
}

/**
 * Provide a default background color for the body element.
 */
body {
  background-color: $white;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing.
 * Since `*` has a specificity of 0, it doesn’t override the `html`
 * value making all elements inherit from the rule just above.
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links.
 */
a {
  color: $brand-color;
  text-decoration: underline;

  @include on-event {
    color: $secondary-brand-color;
  }
}
