// -----------------------------------------------------------------------------
// This file contains styles that are specific to the general map of partners.
// -----------------------------------------------------------------------------

/**
 * The container of the map.
 *
 * 1. We make the map take the full width of the screen, but only 80% of its
 *    height. On touch screens, this allows people to still be able to grab
 *    other parts of the interface in order to scroll the page. More
 *    generally, on all screens, not taking more than 80% of the
 *    screen height ensures people see that there are other
 *    things in the page than just the map.
 */
.general-partner-map {
    width: 100vw; // 1
    height: 80vh; // 1
}

/**
 * This element contains SVG tags that represent the icons of the different
 * types of marker groups. These SVGs are used as source code when building
 * the map with JavaScript.
 * Since they are there only for technical reasons, they must not visually
 * appear inside the content of the page.
 */
.template-marker-groups {
    display: none;
}

/**
 * The controls of the map that allow to
 * show and hide subgroups of markers.
 *
 * 1. Give specific colors to each label, to make them match
 *    the color of the icons in their corresponding group.
 */
[class^=layer-control-label] {
    font-weight: bold;
}
.layer-control-label--partner {
    color: $brand-color; // 1
}
.layer-control-label--currency-exchange {
    color: $secondary-brand-color; // 1
}

/**
 * A group (a cluster) of markers on the map.
 *
 * When hovered, marker groups move slightly, to give a hint
 * that they can be interacted with (clicked or tapped).
 */
.marker-group {
  transition: top .1s ease-in-out;

  &:hover {
    top: -3px;
  }

  /**
   * SVG path being used to draw a shadow for marker groups.
   */
  .group-shadow {
    transition: transform .1s ease-in-out;
  }
  // The shadow is transformed when *the marker group* is
  // hovered, not just the shadow itself.
  &:hover .group-shadow {
    transform: translate(3px, 3px);
  }

  /**
   * A marker which is *part of a marker group icon*. Not
   * to be confused with standalone markers on the map!
   *
   * 1. Give an alternate color to markers that represent
   *    currency exchanges. We use the `fill` property,
   *    to match the corresponding SVG property.
   */
  .marker--currency-exchange {
    fill: $secondary-brand-color; // 1
  }
}

/**
 * The <tspan> SVG element, present in most marker group icons,
 * that indicates how many markers are contained in the group.
 *
 * 1. Explicitly set the font family and weight with CSS, to
 *    circumvent a Safari bug (Safari does not properly read
 *    these settings from the SVG code).
 */
.marker-total {
  font-family: $text-font-stack; // 1
  font-weight: 500; // 1
}

/**
 * Pop-ups that are used on the map to display general
 * info about a clicked or tapped marker.
 */
.osm-map-popup {
  // font-family: $text-font-stack;

  a {
    color: $brand-color;
    text-decoration: underline;

    @include on-event {
      color: $secondary-brand-color;
    }
  }
}

/**
 * A message wrapped in a `<noscript>` tag that
 * appears if JavaScript is not available.
 */
.error-message--javascript-required {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
