// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------



/**
 * The footer of the site.
 *
 * The base styles provide a basic, one-column layout, where each
 * main block has a maximum width and is horizontally centered.
 */
.site-footer {
  @include fix-light-text-on-dark-background;
  padding: 1.6rem;
  border-top: 2px solid $darker-brand-color;
  background-color: $brand-color;
  color: $white;

  /**
   * 1. If flexbox is supported, starting with the `medium` breakpoint, we
   *    will turn the footer to a flex container in order to position its
   *    inner blocks <div>s side by side.
   * 2. This group of blocks will itself be centered inside the footer.
   */
  @supports (display: flex) {
    @include media('≥medium') {
      display: flex; // 1
      justify-content: center; // 2
    }
  }
}


/**
 * The main blocks inside the footer of the site.
 *
 * The base styles provide a basic, one-column layout, which
 * has a maximum width and is horizontally centered.
 */
.site-footer > div {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;

  /**
   * If flexbox is supported, we will position the <div>s side by side.
   *
   * 1. Create some horizontal space to separate the blocks from each other…
   * 2. …but give no left margin to the first one, in order to have the
   *    group of blocks nicely centered, with no extra left margin
   *    pushing the group of blocks too far to the right.
   */
  @supports (display: flex) {

    @include media('≥medium') {
      width: 32rem;
      margin-left: 5rem; // 1
      margin-right: 0;

      &:first-child {
        margin-left: 0; // 2
      }
    }

    /**
     * Simply adjust the size of the blocks to adapt them to available space.
     */
    @include media('≥large') {
      width: 44.8rem;
      max-width: 44.8rem;
    }

  }// End @supports (display: flex)
}


/**
 * Loose styles for some elements inside the footer.
 */
.site-footer h2 {
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.site-footer address {
  font-style: normal;
  line-height: 2rem;
}

.site-footer a {
  color: $white;

  @include on-event {
    color: $almost-black-brand-color;
  }
}


/**
 * Styles for a list of links in the footer.
 */
.site-footer__links-container {
  margin-top: 3.2rem;

  @include media('≥medium') {
    margin-top: 0;
  }
}

.site-footer__links {
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 1rem;
  }

  a {
    line-height: 2rem;
  }
}

/**
 * A small block at the bottom of the footer saying
 * that the site does not use any cookie.
 */
.no-cookie-mention {
  @include fix-light-text-on-dark-background;
  padding: 0 1.6rem 1.6rem;
  background-color: $brand-color;
  color: $white;
  text-align: center;
}
