// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------



.site-header {

  // No default styling in the absence of a media query.

  @include media('≥medium') {
    background-color: $brand-color;
    border-bottom: 2px solid $secondary-brand-color;
  }
}

/**
 * 1. Set the element as the closest positioned ancestor for the
 *    logo (the `.site-header h1::before` pseudo-element).
 */
.site-header-elements {
  position: relative; // 1
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;

  /**
   * 1. Starting with the `medium` breakpoint, the main heading and the main
   *    menu get positioned side by side. The <h1> goes on the left, while
   *    the menu has to go on the right. Since these two blocks are the
   *    only children of this container, we need to use the overflow
   *    clearing trick to prevent it to collapse on itself because
   *    all of its children would have become floated elements.
   *    See: https://www.quirksmode.org/css/clearing.html
   */
  @include media('≥medium') {
    overflow: auto; // 1
  }
}

/**
 * A link to the website homepage placed around the site title.
 */
.site-header__home-link {
  @include fix-light-text-on-dark-background;
  display: block;
  padding-right: 1.3rem;
  background-color: $brand-color;
  color: $white;
  text-decoration: none;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }

  /**
   * 1. The only child of the link is a <h1>. Starting with the `medium`
   *    breakpoint, this <h1> becomes a float, resulting in the link
   *    getting a height of zero. In order to apply a hover effect
   *    on it, we need the link to have the height of its content.
   *    We thus float it too, in the same way as the heading it
   *    surrounds, in order to make it retrieve a height.
   */
  @include media('≥medium') {
    float: left; // 1
  }
}


/**
 * The <h1> heading inside the site’s main menu.
 */
.site-header__site-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
  font-size: 3.2rem;
  line-height: 4rem;
  color: $white;

  /**
   * On the home page of the site, and only when we are below the `medium`
   * breakpoint, the title and the logo are displayed *below* the main
   * menu, in order to make them stand out more. In addition to this
   * change of position, the logo is also made a bit bigger. As a
   * result, we need to tweak a few things to accommodate this.
   *
   * 1. Absolute positioning moves the heading out of the static flow, thus
   *    allowing the menu to move all the way to the top of the page.
   * 2. Position both the title text and the pseudo-element of the
   *    logo below the main menu.
   * 3. Force the width of the block to take all the available
   *    space, to make horizontal centering easier.
   * 4. Use flexbox to center-align the heading and its pseudo-element together.
   *    We use this because the absolute positioning prevents us to use auto
   *    horizontal margins or similar tricks to center-align the elements.
   * 5. Zero the paddings to make positioning easier to calculate.
   * 6. Adjust the line-height to the new height of the logo.
   * 7. Since the title now appears on top of a light background
   *    instead of the brand color, we need to switch its text
   *    color from white to the brand color.
   */
  @include media('<medium') {
    body.is-homepage & {
      position: absolute; // 1
      top: 5.2rem; // 2
      right: 0; // 3
      left: 0; // 3
      // TODO: try to use floats instead of flexbox.
      display: flex; // 4
      justify-content: center; // 4
      padding-top: 0; // 5
      padding-bottom: 0; // 5
      padding-left: 0; // 5
      line-height: 4.6rem; // 6
      color: $brand-color; // 7
    }
  }

  /**
   * 1. Starting with the `medium` breakpoint, we put the heading back into the
   *    static flow, thus allowing it to retrieve its natural location at the
   *    top of the page. This is only necessary when we are on the home page
   *    of the site (see point 1 just above).
   * 2. Float the <h1> to position it side by side with the main menu (<nav>).
   * 3. Remove the vertical padding that was necessary for smaller
   *    viewport widths, when the title was stacked on top of the
   *    menu rather than being positioned side by side with it.
   */
  @include media('≥medium') {
    @include fix-light-text-on-dark-background;
    position: static; // 1
    float: left; // 2
    padding-top: 0; // 3
    padding-bottom: 0; // 3
    padding-left: 6.2rem;
    min-height: 6.2rem;
    line-height: 6.2rem;
    color: $white;
  }

  @include media('≥large') {
    min-height: 7.2rem;
    font-size: 4rem;
    line-height: 7.2rem;
  }

  /**
   * The logo of the currency, inserted via a pseudo-element.
   *
   * 1. Float the logo to allow the text of the <h1> to go side by side with it.
   * 2. Make space between the logo and the text of the <h1>.
   */
  &::before {
    content: '';
    display: block;
    float: left; // 1
    width: 4rem;
    height: 4rem;
    margin-right: 1rem; // 2
    background: image('logo_circle_blue_on_white.svg') 50% 50% no-repeat transparent;
    background-size: contain;

    /**
     * On the home page of the site, and only when we are below the `medium`
     * breakpoint, the title and the logo are displayed *below* the main
     * menu, in order to make them stand out more. In addition to this
     * change of position, the logo is also made a bit bigger. As a
     * result, we need to tweak a few things to accommodate this.
     *
     * 1. Since the logo now appears on top of a light background instead of the
     *    brand color, we need to switch to a version that uses reversed colors.
     * 2. Make the logo a bit bigger.
     */
    @include media('<medium') {
      body.is-homepage & {
        background-image: image('logo_circle_white_on_blue.svg'); // 1
        width: 4.6rem; // 2
        height: 4.6rem; // 2
      }
    }

    /**
     * Starting with the `medium` breakpoint, the logo always gets positioned
     * in a top navigation bar.
     *
     * 1. Position the logo according to `.site-header-elements`, which
     *    is the closest positioned ancestor.
     */
    @include media('≥medium') {
      position: absolute; // 1
      left: 1.3rem;
      top: 1.15rem;
    }

    /**
     * 1. Adjust vertical positioning to take the increased font
     *    size of the <h1> into account.
     */
    @include media('≥large') {
      top: 1.5rem; // 1
    }
  }
}

/**
 * Make the very first letter of the site’s title lowercase. Doing so
 * with CSS allows to keep it as a capital letter in the HTML source.
 */
.site-header__first-letter {
  text-transform: lowercase;
}


/**
 * The main menu of the site.
 */
nav {
  @include fix-light-text-on-dark-background;
  min-height: 4.2rem;
  font-size: 1.5rem;
  background-color: $brand-color;
  border-bottom: 2px solid $secondary-brand-color;

  /**
   * 1. Starting with the `medium` breakpoint, the main menu stops taking all of
   *    the available width. As a result, the bottom border of the header now
   *    has to come from the `.site-header` element. We thus need to remove
   *    it from the menu in order to prevent a double border effect.
   * 2. Float the <nav> to position it side by side with the main heading.
   */
  @include media('≥medium') {
    border-bottom: 0; // 1
    float: right; // 2
  }
}

/**
 * 1. Use flexbox to center-align the list items together.
 */
nav ul {
  // TODO: try to use floats instead of flexbox.
  display: flex; // 1
  justify-content: space-around; // 1
  width: 32rem;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  /**
   * 1. Add some space between the last menu item and the right edge of the page.
   */
  @include media('≥medium') {
    width: auto;
    margin-right: 1.1rem; // 1
    font-size: 2rem;
  }

  @include media('≥large') {
    margin-right: 1.3rem;
    font-size: 2.4rem;
  }
}

/**
 * The links int the main menu of the site.
 *
 * 1. Display the links as blocks in order to be able to vertically-center
 *    them by using explicit values for their top and bottom paddings.
 */
nav a {
  display: block; // 1
  padding-top: 1.2rem; // 1
  padding-bottom: 1.05rem; // 1
  padding-left: 1rem;
  padding-right: 1rem;
  color: $white;
  text-decoration: none;
  transition: background-color .1s;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }

  /**
   * 1. Adjust top and bottom paddings to keep the links vertically-centered
   *    according to the new height of their container.
   */
  @include media('≥medium') {
    padding-top: 2rem; // 1
    padding-bottom: 2rem; // 1
  }

  /**
   * 1. Adjust top and bottom paddings to keep the links vertically-centered
   *    according to the new height of their container.
   */
  @include media('≥large') {
    padding-top: 2.2rem; // 1
    padding-bottom: 2.2rem; // 1
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
