.site-header {
    @include fix-light-text-on-dark-background;
    background-color: $brand-color;
    border-bottom: 2px solid $secondary-brand-color;
    color: $white;
}

/**
 * A link to the website homepage placed around the site title.
 *
 * 1. We float the element to force the <h1> it contains to have its width to
 *    be exactly the same as the width of its content, rather than taking the
 *    full width of the header. This does not change anything visually but it
 *    has the benefit of reducing the surface of the link so that it covers
 *    only the text, and not also all the empty space of the site header.
 */
.site-header__home-link {
  float: left; // 1
  color: $white;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * The <h1> heading inside the site’s main menu.
 */
.site-header__site-title {
  margin: 1.2rem 1.6rem;
  font-size: 3.2rem;
  line-height: 1.2;

  @include media('≥large') {
    font-size: 4rem;
  }
}
