// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------



.site-header {

  // No default styling in the absence of a media query.

  @include media('≥medium') {
    background-color: $brand-color;
    border-bottom: 2px solid $secondary-brand-color;
  }
}

/**
 * 1. Set the element as the closest positioned ancestor for the
 *    logo (the `.site-header h1::before` pseudo-element).
 */
.site-header-elements {
  position: relative; // 1
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;

  /**
   * 1. Starting with the `medium` breakpoint, the main heading and the main
   *    menu get positioned side by side. The <h1> goes on the left, while
   *    the menu has to go on the right. Since these two blocks are the
   *    only children of this container, we need to use the overflow
   *    clearing trick to prevent it to collapse on itself because
   *    all of its children would have become floated elements.
   *    See: https://www.quirksmode.org/css/clearing.html
   */
  @include media('≥medium') {
    overflow: auto; // 1
  }
}

.site-header__home-link {
  display: block;
  padding-right: 1.3rem;
  color: $white;
  text-decoration: none;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }
}


/**
 * The <h1> heading inside the site’s main menu.
 *
 * 1. Use flexbox to center-align the heading and its pseudo-element together.
 * 2. Absolute positioning moves the heading out of the static flow, thus
 *    allowing the menu to move all the way to the top of the page.
 * 3. Zero the margins to make positioning easier to calculate.
 * 4. Fix: prevent an unexplainable newline to appear inside
 *    the element’s text in some browsers due to the
 *    :first-letter of the included span being
 *    set to ‘text-transform: lowercase’.
 */
.site-header__site-title {
  // TODO: try to use floats instead of flexbox.
  display: flex; // 1
  justify-content: center; // 1
  position: absolute; // 2
  left: 0;
  right: 0;
  top: 5.2rem;
  margin: 0; // 3
  font-size: 3.2rem;
  line-height: 4.6rem;
  color: $brand-color;
  white-space: nowrap; // 4

  /**
   * 1. Starting with the `medium` breakpoint, we put the heading back into the
   *    static flow, thus allowing it to retrieve its natural location at the
   *    top of the page. This reverses the point 2 just above.
   * 2. Float the <h1> to position it side by side with the main menu (<nav>).
   */
  @include media('≥medium') {
    @include fix-light-text-on-dark-background;
    position: static; // 1
    float: left; // 2
    padding-left: 6.2rem;
    min-height: 6.2rem;
    line-height: 6.2rem;
    color: $white;
  }

  @include media('≥large') {
    min-height: 7.2rem;
    font-size: 4rem;
    line-height: 7.2rem;
  }

  /**
   * The logo of the currency, inserted via a pseudo-element.
   *
   * 1. Make space between the logo and the text of the <h1>.
   */
  &::before {
    content: '';
    display: block;
    width: 4.6rem;
    height: 4.6rem;
    margin-right: 1rem; // 1
    background: image('logo_circle_white_on_blue.svg') 50% 50% no-repeat transparent;
    background-size: contain;

    /**
     * Starting with the `medium` breakpoint, the logo becomes a bit smaller and
     * gets positioned in a top navigation bar. Its colors are also reversed.
     *
     * 1. Make the logo a bit smaller.
     * 2. Change the colors of the logo, by using a new background image.
     * 3. Position the logo according to `.site-header-elements`, which
     *    is the closest positioned ancestor.
     */
    @include media('≥medium') {
      position: absolute; // 3
      left: 1.3rem;
      top: 1.15rem;
      background-image: image('logo_circle_blue_on_white.svg'); // 2
      width: 4rem; // 1
      height: 4rem; // 1
    }

    /**
     * 1. Adjust vertical positioning to take the increased font
     *    size of the <h1> into account.
     */
    @include media('≥large') {
      top: 1.5rem; // 1
    }
  }
}

/**
 * Make the very first letter of the site’s title lowercase. Doing so
 * with CSS allows to keep it as a capital letter in the HTML source.
 */
.site-header__site-title span:first-letter {
  text-transform: lowercase;
}


/**
 * The main menu of the site.
 */
nav {
  @include fix-light-text-on-dark-background;
  min-height: 4.2rem;
  font-size: 1.5rem;
  background-color: $brand-color;
  border-bottom: 2px solid $secondary-brand-color;

  /**
   * 1. Starting with the `medium` breakpoint, the main menu stops taking all of
   *    the available width. As a result, the bottom border of the header now
   *    has to come from the `.site-header` element. We thus need to remove
   *    it from the menu in order to prevent a double border effect.
   * 2. Float the <nav> to position it side by side with the main heading.
   */
  @include media('≥medium') {
    border-bottom: 0; // 1
    float: right; // 2
  }
}

/**
 * 1. Use flexbox to center-align the list items together.
 */
nav ul {
  // TODO: try to use floats instead of flexbox.
  display: flex; // 1
  justify-content: space-around; // 1
  width: 32rem;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  /**
   * 1. Add some space between the last menu item and the right edge of the page.
   */
  @include media('≥medium') {
    width: auto;
    margin-right: 1.1rem; // 1
    font-size: 2rem;
  }

  @include media('≥large') {
    margin-right: 1.3rem;
    font-size: 2.4rem;
  }
}

/**
 * The links int the main menu of the site.
 *
 * 1. Display the links as blocks in order to be able to vertically-center
 *    them by using explicit values for their top and bottom paddings.
 */
nav a {
  display: block; // 1
  padding-top: 1.2rem; // 1
  padding-bottom: 1.05rem; // 1
  padding-left: 1rem;
  padding-right: 1rem;
  color: $white;
  text-decoration: none;
  transition: background-color .1s;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }

  /**
   * 1. Adjust top and bottom paddings to keep the links vertically-centered
   *    according to the new height of their container.
   */
  @include media('≥medium') {
    padding-top: 2rem; // 1
    padding-bottom: 2rem; // 1
  }

  /**
   * 1. Adjust top and bottom paddings to keep the links vertically-centered
   *    according to the new height of their container.
   */
  @include media('≥large') {
    padding-top: 2.2rem; // 1
    padding-bottom: 2.2rem; // 1
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
