/**
 * The header of pages in the administration area.
 *
 * 1. We flex the container and justify its items in a way that will make
 *    the <h1> go to its left edge and the link to the public home page
 *    go to its right edge.
 */
.site-header {
    @include fix-light-text-on-dark-background;
    display: flex; // 1
    justify-content: space-between; // 1
    background-color: $brand-color;
    border-bottom: 2px solid $secondary-brand-color;
    color: $white;
}

/**
 * A link to the website homepage placed around the site title.
 */
.site-header__home-link {
  color: $white;
  text-decoration: none;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }
}

/**
 * A link to the public homepage of the website.
 *
 * 1. We will use flexbox to vertically center the text of the link without
 *    losing all of our hair, by using a child <span> as the only flex item
 *    of the container.
 */
.site-header__public-home-link {
  display: flex; // 1
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  color: $white;
  text-decoration: none;
  text-align: center;

  @include on-event {
    color: $white;
    background-color: $darker-brand-color;
  }

  /**
   * An element serving as a flex item for the sole purpose
   * of vertically align the text of the link.
   */
  & > span {
    align-self: center;
  }

  /**
   * Slightly increase the size of the link.
   */
  @include media('≥medium') {
    font-size: 2.4rem;
  }
}

/**
 * The <h1> heading inside the site’s main menu.
 */
.site-header__site-title {
  margin: 1.2rem 1.6rem;
  font-size: 3.2rem;
  line-height: 1.2;

  @include media('≥large') {
    font-size: 4rem;
  }
}
