// -----------------------------------------------------------------------------
// The .partner-page component is used to display the page of a partner.
// -----------------------------------------------------------------------------

.partner-page {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.partner-page__wrapper {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2rem;
  color: $text-color;
  background: $white;
  line-height: 2rem;

  @include media('≥medium') {
    max-width: 70rem;
  }
  @include media('≥large') {
    max-width: 94.6rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}

.partner-page__heading {
  line-height: 1.2;
  margin-top: 1.6rem;
  margin-bottom: 0;

  @include media('≥large') {
    margin-top: 2.4rem;
    font-size: 3.2rem;
  }
}

.partner-page__address dt {
  display: none;
}

/**
 * 1. Remove default user-agent styling.
 */
.partner-page__location dd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-left: 0; // 1
}

.partner-page__location dd .h-adr {
  margin-top: 0;
}

.partner-page__partner-info div {
  margin-bottom: 1.6rem;
}

/**
 * 1. Remove default user-agent styling.
 */
.partner-page__partner-info dd {
  margin-left: 0; // 1
}

.osm-map-container {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.osm-map {
  display: block;
  position: relative;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;

  &.osm-map--dynamic {
    min-width: 486px;
    max-width: 100%;
    min-height: 300px;
  }
}
