@charset 'UTF-8';

// 1. Configuration and helpers.
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Third-party code.
@import 'vendor/normalize';
@import 'vendor/include-media';

// 3. Base stuff.
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';

// 4. Layout-related sections.
@import 'layout/header-admin';
@import 'layout/footer-admin';

// 5. Smaller components.
@import 'components/team-member-list';
@import 'components/text';
@import 'components/tool-form';
// @import 'components/partner-list';
// @import 'components/counter-list';

// 6. Page-specific styles.
// @import 'pages/home';


.main-content {
  margin: 0 1.6rem 1.6rem;
  line-height: 1.2;

  ul, ol {
    padding-left: 2rem;
  }
  li {
    margin-bottom: 0.25rem;
  }


  h2 {
    @include media('≥medium') {
      font-size: 3rem;
    }
    @include media('≥large') {
      font-size: 3.6rem;
    }
  }

  h3 {
    color: $secondary-brand-color;

    @include media('≥medium') {
      font-size: 2.33rem;
    }
    @include media('≥large') {
      font-size: 2.8rem;
    }
  }

  h2, h3, h4, p, ul, ol, dl, fieldset {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;

    @include media('≥medium') {
      max-width: 52rem;
    }
    @include media('≥large') {
      max-width: 64rem;
    }
  }
  h4, p, li, dt, dd, fieldset, label {
    line-height: 2rem;

    @include media('≥medium') {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    @include media('≥large') {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}


.tool-page-header {
  margin-top: 3rem;
}
.tool-page-header h2 {
  margin-top: 0;
}
.tool-page-header__tool-name.tool-page-header__tool-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  color: #666;
}


.error-color {
  color: red;
}
.warning-color {
  color: #de9103;
}


.available-tasks {
  div {
    margin-bottom: 1.6rem;
  }
  dt {
    margin-bottom: .8rem;
  }
  dd {
    margin-left: 0;
  }
}



.partner-initials-list {
  overflow: auto;
}
.partner-initials-list a {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.17em;
  line-height: 1.25;
}
h4.listing-letter {
  margin-bottom: 0;
  // line-height: 0.5;
  color: $secondary-brand-color;
}
ul.partner-list {
  margin-top: 1rem;
  padding-left: 0;
}
ul.partner-list li {
  margin-bottom: 0.5em;
  list-style: none;
}
.former-partner .partner-name {
  color: #999;
  text-decoration: line-through;
}
.former-partner .partner-left-on {
  display: block;
  font-size: 0.8em;
  color: #999;
}


.return-list {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid #666;
  border-top: 2px solid $darker-brand-color;
  border-bottom: 2px solid #666;
  border-bottom: 2px solid $darker-brand-color;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}


// Sticky footer
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1;
}




@import 'components/breadcrumbs';
