@charset 'UTF-8';

// 1. Configuration and helpers.
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Third-party code.
@import 'vendor/normalize';
@import 'vendor/include-media';

// 3. Base stuff.
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';

// 4. Layout-related sections.
@import 'layout/header';
@import 'layout/footer';

// 5. Smaller components.
@import 'components/text';
@import 'components/long-text';
@import 'components/partner-list';
@import 'components/partner-page';
@import 'components/counter-list';

// 6. Page-specific styles.
@import 'pages/home';



.le-projet {
  max-width: 48rem;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  text-align: center;
}
.le-projet img {
}
#surface1 {
}

